.inputSection {
  width: 100%;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #DEE1E7;
  overflow-x: scroll;
}
.inputSection h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
.inputSection .btnArea {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  align-items: center;
}
.inputSection .btnArea .btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #F0F3F2;
  border: none;
  cursor: pointer;
}
.inputSection .btnArea .btn.addBtn {
  background: #43B69A;
  margin-right: 10px;
}
.inputSection .btnArea .btn.delBtn {
  background: #E96C50;
}
.inputSection .col-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputSection .col-3 .inputGroup label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  display: block;
}
.inputSection .col-3 .inputGroup input {
  width: 250px;
  height: 40px;
  border: 1px solid #DEE1E7;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #DEE1E7;
  background: #F7F8FE;
}
.inputSection .col-3 .inputGroup .search {
  position: relative;
}
.inputSection .col-3 .inputGroup .search svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.inputSection .sw {
  overflow-x: auto;
  min-width: 100%;
  white-space: nowrap;
}
.inputSection .sw th {
  border: 1px solid #DEE1E7;
  background: #F7F8FE;
  color: #2E322F;
  font-size: 14px;
  padding: 15px 0;
}
.inputSection .sw th:nth-child(1) {
  width: 50px;
}
.inputSection .sw th:nth-child(2) {
  width: 150px;
}
.inputSection .sw th:nth-child(3) {
  width: 250px;
}
.inputSection .sw th:nth-child(4) {
  width: 130px;
}
.inputSection .sw th:nth-child(5) {
  width: 150px;
}
.inputSection .sw th:nth-child(6) {
  width: 150px;
}
.inputSection .sw th:nth-child(7) {
  width: 140px;
}
.inputSection .sw th:nth-child(8) {
  width: 150px;
}
.inputSection .sw th:nth-child(9) {
  width: 150px;
}
.inputSection .sw th:nth-child(10) {
  width: 150px;
}
.inputSection .sw th:nth-child(11) {
  width: 170px;
}
.inputSection .sw th:nth-child(12) {
  width: 170px;
}
.inputSection .sw th:nth-child(13) {
  width: 170px;
}
.inputSection .sw th:nth-child(14) {
  width: 170px;
}
.inputSection .sw th:nth-child(15) {
  width: 170px;
}
.inputSection .sw th:nth-child(16) {
  width: 170px;
}
.inputSection .sw th:nth-child(17) {
  width: 170px;
}
.inputSection .sw th:nth-child(18) {
  width: 170px;
}
.inputSection .sw th:nth-child(19) {
  width: 170px;
}
.inputSection .sw td {
  border: 1px solid #DEE1E7;
  background: #F7F8FE;
  position: relative;
}
.inputSection .sw td span {
  display: block;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  color: #2E322F;
}
.inputSection .msp {
  overflow-x: auto;
  min-width: 100%;
  white-space: nowrap;
}
.inputSection .msp th {
  border: 1px solid #DEE1E7;
  background: #F7F8FE;
  color: #2E322F;
  font-size: 14px;
  padding: 15px 0;
}
.inputSection .msp th:nth-child(1) {
  width: 50px;
}
.inputSection .msp th:nth-child(2) {
  width: 150px;
}
.inputSection .msp th:nth-child(3) {
  width: 250px;
}
.inputSection .msp th:nth-child(4) {
  width: 130px;
}
.inputSection .msp th:nth-child(5) {
  width: 150px;
}
.inputSection .msp th:nth-child(6) {
  width: 150px;
}
.inputSection .msp th:nth-child(7) {
  width: 140px;
}
.inputSection .msp th:nth-child(8) {
  width: 150px;
}
.inputSection .msp th:nth-child(9) {
  width: 150px;
}
.inputSection .msp th:nth-child(10) {
  width: 150px;
}
.inputSection .msp th:nth-child(11) {
  width: 170px;
}
.inputSection .msp th:nth-child(12) {
  width: 170px;
}
.inputSection .msp th:nth-child(13) {
  width: 170px;
}
.inputSection .msp th:nth-child(14) {
  width: 170px;
}
.inputSection .msp th:nth-child(15) {
  width: 170px;
}
.inputSection .msp th:nth-child(16) {
  width: 170px;
}
.inputSection .msp th:nth-child(17) {
  width: 170px;
}
.inputSection .msp td {
  border: 1px solid #DEE1E7;
  background: #F7F8FE;
  position: relative;
}
.inputSection .msp td span {
  display: block;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  color: #2E322F;
}

.btnArea {
  display: flex;
  justify-content: flex-end;
  margin: 30px auto;
  align-items: center;
}
.btnArea .btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #F0F3F2;
  border: none;
  cursor: pointer;
}
.btnArea .btn.submitBtn {
  background: #43B69A;
  margin-right: 10px;
}
.btnArea .btn.cancelBtn {
  background: #E96C50;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal.open {
  display: block;
}
.modal.open .modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 500px;
  height: 500px;
}
.modal.open .modalContent .closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  line-height: 30px;
  color: #000;
}
.modal.open .modalContent .modalHeader {
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.modal.open .modalContent .modalHeader input {
  width: 300px;
  height: 30px;
  padding: 10px 15px;
  border: 1px solid #DEE1E7;
}
.modal.open .modalContent .modalHeader button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #F0F3F2;
  border: none;
  cursor: pointer;
  background: #43B69A;
  margin-left: 10px;
}/*# sourceMappingURL=ProductWrite.module.css.map */