.inputSection {
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #DEE1E7;
    overflow-x: scroll;
    h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .btnArea {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        align-items: center;
        .btn {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;
            color: #F0F3F2;
            border: none;
            cursor: pointer;
            &.addBtn {
                background: #43B69A;
                margin-right: 10px;
            }
            &.delBtn {
                background: #E96C50;
            }
        }
    }
    .col-3 {
        display: flex;
        align-items: center;
        justify-content: space-between;;
        .inputGroup {
            label {
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
                display: block;
            }
            input {
                width: 250px;
                height: 40px;
                border: 1px solid #DEE1E7;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 14px;
                font-weight: 500;
                border: 1px solid #DEE1E7;
                background: #F7F8FE;
            }
            .search {
                position: relative;
                svg {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(-50%,-50%)
                }
            }
        }
    }
    .sw {
        overflow-x: auto;
        min-width: 100%;
        white-space: nowrap;
        th {
            border: 1px solid #DEE1E7;
            background: #F7F8FE;
            color: #2E322F;
            font-size: 14px;
            padding: 15px 0;
            &:nth-child(1) {
                width: 50px;
            }
            &:nth-child(2) {
                width: 150px;
            }
            &:nth-child(3) {
                width: 250px;
            }
            &:nth-child(4) {
                width: 130px;
            }
            &:nth-child(5) {
                width: 150px;
            }
            &:nth-child(6) {
                width: 150px;
            }
            &:nth-child(7) {
                width: 140px;
            }
            &:nth-child(8) {
                width: 150px;
            }
            &:nth-child(9) {
                width: 150px;
            }
            &:nth-child(10) {
                width: 150px;
            }
            &:nth-child(11) {
                width: 170px;
            }
            &:nth-child(12) {
                width: 170px;
            }
            &:nth-child(13) {
                width: 170px;
            }
            &:nth-child(14) {
                width: 170px;
            }
            &:nth-child(15) {
                width: 170px;
            }
            &:nth-child(16) {
                width: 170px;
            }
            &:nth-child(17) {
                width: 170px;
            }
            &:nth-child(18) {
                width: 170px;
            }
            &:nth-child(19) {
                width: 170px;
            }
        }
        td {
            border: 1px solid #DEE1E7;
            background: #F7F8FE;
            position: relative;
            span {
                display: block;
                padding: 0 10px;
                font-size: 20px;
                font-weight: 500;
                color: #2E322F;
            }
                    input {
                padding: 15px 10px;
            }
        }
    }
    .msp {
        overflow-x: auto;
        min-width: 100%;
        white-space: nowrap;
        th {
            border: 1px solid #DEE1E7;
            background: #F7F8FE;
            color: #2E322F;
            font-size: 14px;
            padding: 15px 0;
            &:nth-child(1) {
                width: 50px;
            }
            &:nth-child(2) {
                width: 150px;
            }
            &:nth-child(3) {
                width: 250px;
            }
            &:nth-child(4) {
                width: 130px;
            }
            &:nth-child(5) {
                width: 150px;
            }
            &:nth-child(6) {
                width: 150px;
            }
            &:nth-child(7) {
                width: 140px;
            }
            &:nth-child(8) {
                width: 150px;
            }
            &:nth-child(9) {
                width: 150px;
            }
            &:nth-child(10) {
                width: 150px;
            }
            &:nth-child(11) {
                width: 170px;
            }
            &:nth-child(12) {
                width: 170px;
            }
            &:nth-child(13) {
                width: 170px;
            }
            &:nth-child(14) {
                width: 170px;
            }
            &:nth-child(15) {
                width: 170px;
            }
            &:nth-child(16) {
                width: 170px;
            }
            &:nth-child(17) {
                width: 170px;
            }
        }
        td {
            border: 1px solid #DEE1E7;
            background: #F7F8FE;
            position: relative;
                    input {
                padding: 15px 10px;
            }
            span {
                display: block;
                padding: 0 10px;
                font-size: 20px;
                font-weight: 500;
                color: #2E322F;
            }
        }
    }
}
.btnArea {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
    .btn {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #F0F3F2;
        border: none;
        cursor: pointer;
        &.submitBtn {
            background: #43B69A;
            margin-right: 10px;
        }
        &.cancelBtn {
            background: #E96C50;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    &.open {
        display: block;
        .modalContent {
            z-index:999;
            .closeBtn {
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 30px;
                line-height: 30px;
                color: #000;
            }
            &.member {
                position: fixed;
                top: 50%;
                left: 50%; 
                transform: translate(-50%, -50%);
                background-color: #fff;
                width: 500px;
                height: 500px;
                .modalHeader {
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                    input {
                        width: 300px;
                        height: 30px;
                        padding: 10px 15px;
                        border: 1px solid #DEE1E7;
                    }
                    button {
                        width: 100px;
                        height: 30px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #F0F3F2;
                        border: none;
                        cursor: pointer;
                        background: #43B69A;
                        margin-left: 10px;
                    }
                }
                .modalBody {
                    padding: 50px; 
                    table {
                        width: 100%;
                        tr {
                            border: 1px solid #DEE1E7;
                            th {
                                padding: 10px 0 8px;
                                width: 50%;
                                text-align: center;
                                font-size: 16px;
                                background-color: #F7F8FE;
                            }
                            td {
                                padding: 10px 0 8px;
                                width: 50%;
                                text-align: center;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            &.sw {
                width: 90vw;
                height: 500px;
                display: block;
                position: fixed;
                top: 50%;
                left: 50%; 
                transform: translate(-50%, -50%);
                background-color: #fff;
                width: calc(100vw - 100px);
                height: 500px;
                .modalHeader {
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                    input {
                        width: 300px;
                        height: 30px;
                        padding: 10px 15px;
                        border: 1px solid #DEE1E7;
                    }
                    button {
                        width: 100px;
                        height: 30px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #F0F3F2;
                        border: none;
                        cursor: pointer;
                        background: #43B69A;
                        margin-left: 10px;
                    }
                }
                .modalResult {
                    table {
                        margin: 0 auto;
                        tr {
                            border: 1px solid #DEE1E7;
                            th {
                                background-color: #DEE1E7;
                                padding: 10px 0 5px;
                                width: 200px;
                                font-size: 14px;
                                border: 1px solid #DEE1E7;
                                &:nth-child(1) {
                                width: 200px;
                                }
                                &:nth-child(2) {
                                    width: 150px;
                                }
                            
                            }
                            td {
                                padding: 10px 0 5px;
                                text-align: center;
                            }
                        }
                    }
                }
                .modalBody {
                    table {
                        margin: 0 auto;
                        tr {
                            th {
                                background-color: #DEE1E7;
                                padding: 10px 0 5px;
                                width: 200px;
                                font-size: 14px;
                                border: 1px solid #DEE1E7;
                                &:nth-child(1) {
                                display:none;
                                }
                                &:nth-child(2) {
                                    width: 150px;
                                }
                                &:nth-child(5) {
                                    width:200px;
                                }
                                &:nth-child(6) {
                                    width:100px;
                                }
                                &:nth-child(7) {
                                    width:100px;
                                }
                                &:nth-child(8) {
                                    width: 100px;
                                }
                                &:nth-child(9) {
                                    width: 100px;
                                }
                                &:nth-child(10) {
                                    width: 120px;
                                }
                                &:nth-child(11) {
                                    width: 120px;
                                }
                            }
                            td {
                                input {
                                    width: 100%;
                                    border: 1px solid #DEE1E7;
                                    padding: 15px 10px;
                                }
                                &:nth-child(1) {
                                    display:none;
                                }
                                &:nth-child(2){
                                    input {text-overflow: ellipsis;}
                                    
                                }
                            }
                        }
                    }
                    .btnArea {
                        margin: 50px auto;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
             &.msp {
                width: 90vw;
                height: 500px;
                display: block;
                position: fixed;
                top: 50%;
                left: 50%; 
                transform: translate(-50%, -50%);
                background-color: #fff;
                width: calc(100vw - 100px);
                height: 500px;
                .modalHeader {
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                    input {
                        width: 300px;
                        height: 30px;
                        padding: 10px 15px;
                        border: 1px solid #DEE1E7;
                    }
                    button {
                        width: 100px;
                        height: 30px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 500;
                        color: #F0F3F2;
                        border: none;
                        cursor: pointer;
                        background: #43B69A;
                        margin-left: 10px;
                    }
                }
                .modalResult {
                    table {
                        margin: 0 auto;
                        tr {
                            border: 1px solid #DEE1E7;
                            th {
                                background-color: #DEE1E7;
                                padding: 10px 0 5px;
                                width: 200px;
                                font-size: 14px;
                                border: 1px solid #DEE1E7;
                                &:nth-child(1) {
                                width: 200px;
                                }
                                &:nth-child(2) {
                                    width: 150px;
                                }
                            
                            }
                            td {
                                padding: 10px 0 5px;
                                text-align: center;
                            }
                        }
                    }
                }
                .modalBody {
                    table {
                        margin: 0 auto;
                        tr {
                            th {
                                background-color: #DEE1E7;
                                padding: 10px 0 5px;
                                width: 200px;
                                font-size: 14px;
                                border: 1px solid #DEE1E7;
                                &:nth-child(1) {
                                display:none;
                                }
                                &:nth-child(2) {
                                    width: 150px;
                                }
                                &:nth-child(5) {
                                    width:100px;
                                }
                                &:nth-child(6) {
                                    width:100px;
                                }
                                &:nth-child(7) {
                                    width:100px;
                                }
                                &:nth-child(8) {
                                    width: 100px;
                                }
                                &:nth-child(9) {
                                    width: 100px;
                                }
                                &:nth-child(10) {
                                    width: 120px;
                                }
                                &:nth-child(11) {
                                    width: 120px;
                                }
                            }
                            td {
                                input {
                                    width: 100%;
                                    border: 1px solid #DEE1E7;
                                    padding: 15px 10px;
                                }
                                &:nth-child(1) {
                                    display:none;
                                }
                                &:nth-child(2){
                                    input {text-overflow: ellipsis;}
                                    
                                }
                            }
                        }
                    }
                    .btnArea {
                        margin: 50px auto;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
