.container {
    padding: 50px;
}
.box_section {
    border: 1px solid #DEE1E7;
    border-radius: 4px;
    background: #FBFCFF;
    padding: 50px;
    margin-bottom: 20px;
    h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    > * {
        width: 100%;
        text-align: left;
    }
    svg {
        font-size: 60px;
        overflow: visible;
    }
}
.donutChart {
    ul {
        li {
            span {
                width: 146px;
                height: 51px;
            }
        }
    }
}
