.bg_intro {
    background-image: url('/loginBg.png');
    background-size: cover; 
    background-position: center;
}
.btn_login {
    width: 300px;
    height: 40px;
    background-color: #35404F;
}
.input_field {
    width: 300px;
    height: 40px;
    background: #FFFFFF;
}


