.billingSwList {
  margin: 30px auto;
  overflow-x: auto;
  min-width: 100%;
  white-space: nowrap;
  background-color: #fff;
  padding: 50px;
  border: 1px solid #dee1e7;
  th {
    border: 1px solid #dee1e7;
    background: #f7f8fe;
    color: #2e322f;
    font-size: 14px;
    padding: 15px 0;
    &:nth-child(1) {
      width: 30px;
    }
    &:nth-child(2) {
      width: 150px;
    }
    &:nth-child(3) {
      width: 200px;
    }
    &:nth-child(4) {
      width: 200px;
    }
    &:nth-child(5) {
      width: 200px;
    }
    &:nth-child(6) {
      width: 100px;
    }
    &:nth-child(7) {
      width: 120px;
    }
    &:nth-child(8) {
      width: 80px;
    }
    &:nth-child(9) {
      width: 120px;
    }
    &:nth-child(10) {
      width: 120px;
    }
    &:nth-child(11) {
      width: 120px;
    }
    &:nth-child(12) {
      width: 200px;
    }
  }
  td {
    border: 1px solid #dee1e7;
    background: #fbfbfb;
    position: relative;
    &:nth-child(2) {
      font-size: 11px;
    }
    span {
      display: block;
      padding: 0 10px;
      font-size: 20px;
      font-weight: 500;
      color: #2e322f;
    }
    input {
      width: 100%;
      padding: 15px 10px;
      &:read-only {
        background: #fbfbfb;
      }
    }
  }
}
.billingMspList {
  margin: 30px auto;
  overflow-x: auto;
  background-color: #fff;
  padding: 50px;
  min-width: 100%;
  white-space: nowrap;
  border: 1px solid #dee1e7;
  th {
    border: 1px solid #dee1e7;
    background: #f7f8fe;
    color: #2e322f;
    font-size: 14px;
    padding: 15px 0;
    &:nth-child(1) {
      width: 30px;
    }
    &:nth-child(2) {
      width: 150px;
    }
    &:nth-child(3) {
      width: 300px;
    }
    &:nth-child(4) {
      width: 300px;
    }
    &:nth-child(5) {
      width: 100px;
    }
    &:nth-child(6) {
      width: 80px;
    }
    &:nth-child(7) {
      width: 80px;
    }
    &:nth-child(8) {
      width: 150px;
    }
    &:nth-child(9) {
      width: 120px;
    }
    &:nth-child(10) {
      width: 120px;
    }
    &:nth-child(11) {
      width: 250px;
    }
  }
  td {
    border: 1px solid #dee1e7;
    background: #fbfbfb;
    position: relative;
    &:nth-child(2) {
      font-size: 11px;
    }
    span {
      display: block;
      padding: 0 10px;
      font-size: 20px;
      font-weight: 500;
      color: #2e322f;
    }
    input {
      width: 100%;
      padding: 15px 10px;
      &:read-only {
        background: #fbfbfb;
      }
    }
  }
}

.btnArea {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  align-items: center;
  button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #f0f3f2;
    border: none;
    cursor: pointer;
    margin: 50px 0;
    &.submitBtn {
      background: #43b69a;
      margin-right: 10px;
    }
    &.delBtn {
      background: #e96c50;
    }
    &.cancelBtn {
      background: #e96c50;
    }
  }
}

.view {
  tr {
    th {
      &:nth-child(1) {
        display: none;
      }
    }
    td {
      &:nth-child(1) {
        display: none;
      }
    }
  }
}
