.billingSwList {
    margin: 30px auto;
    overflow-x: auto;
    min-width: 100%;
    white-space: nowrap;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #DEE1E7;
    th {
        border: 1px solid #DEE1E7;
        background: #F7F8FE;
        color: #2E322F;
        font-size: 14px;
        padding: 15px 0;
        &:nth-child(1) {
            width: 30px;
        }
        &:nth-child(2) {
            width: 150px;
        }
        &:nth-child(3) {
            width: 200px;
        }
        &:nth-child(4) {
            width: 200px;
        }
        &:nth-child(5) {
            width: 200px;
        }
        &:nth-child(6) {
            width: 100px;
        }
        &:nth-child(7) {
            width: 120px;
        }
        &:nth-child(8) {
            width: 80px;
        }
        &:nth-child(9) {
            width: 120px;
        }
        &:nth-child(10) {
            width: 120px;
        }
        &:nth-child(11) {
            width: 120px;
        }
        &:nth-child(12) {
            width: 200px;
        }
    }
    td {
        border: 1px solid #DEE1E7;
        background: #fff;
        position: relative;
        &:nth-child(2) {
            font-size: 11px;
        }
        span {
            display: block;
            padding: 0 10px;
            font-size: 20px;
            font-weight: 500;
            color: #2E322F;
        }
        input {
            width: 100%;
            padding: 15px 10px;
        }

    }
}
.billingMspList {
    margin: 30px auto;
    overflow-x: auto;
    background-color: #fff;
    padding: 50px;
    min-width: 100%;
    white-space: nowrap;
    border: 1px solid #DEE1E7;
    th {
        border: 1px solid #DEE1E7;
        background: #F7F8FE;
        color: #2E322F;
        font-size: 14px;
        padding: 15px 0;
        &:nth-child(1) {
            width: 30px;
        }
        &:nth-child(2) {
            width: 150px;
        }
        &:nth-child(3) {
            width: 300px;
        }
        &:nth-child(4) {
            width: 300px;
        }
        &:nth-child(5) {
            width: 100px;
        }
        &:nth-child(6) {
            width: 80px;
        }
        &:nth-child(7) {
            width: 80px;
        }
        &:nth-child(8) {
            width: 150px;
        }
        &:nth-child(9) {
            width: 120px;
        }
        &:nth-child(10) {
            width: 120px;
        }
        &:nth-child(11) {
            width: 250px;
        }
    }
    td {
        border: 1px solid #DEE1E7;
        background: #fff;
        position: relative;
        &:nth-child(2) {
            font-size: 11px;
        }
        span {
            display: block;
            padding: 0 10px;
            font-size: 20px;
            font-weight: 500;
            color: #2E322F;
        }
        input {
            width: 100%;
            padding: 15px 10px;
        }
    }
}

.btnArea {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #F0F3F2;
        border: none;
        cursor: pointer;
        margin: 50px 0;
        &.submitBtn {
            background: #43B69A;
            margin-right: 10px;
        }
        &.delBtn {
            background: #E96C50;
        }
        &.cancelBtn {
            background: #E96C50;
        }
    }
}