.addMember {
    margin: 0px auto 10px;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #DEE1E7;
    .sectionTitle {
        font-size: 24px;
        margin:0 0 20px;
    }
    .inputGroup {
        width: 30%;
        position: relative;
        &:nth-child(3n - 1) {
            margin: 0 5% 20px;
        }
        margin-bottom: 20px;
        label {
            color: #2E322F;
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
        }

        input {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px 10px;
            margin: 8px 0;
            box-sizing: border-box;
            width: 100%;
        }
    }
    .userId {
        position: relative;
        .iconSearch {
            position: absolute;
            top: 50%;
            right:0;
            transform: translate( -50%, 0);
        }
    }

    .btnArea {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px auto 0;
        height: 36px;
        .submitBtn {
            width: 100px;
            margin-right: 10px;
        }
    }
}

.errorMsg {
    position: absolute;
    bottom: -12px;
    left: 0;
     color: #43B69A;
    font-size: 11px;
    margin: 5px 0 0;
}

.required {
    margin-left: 5px;
    &:after {
        content: '*';
        color: #43B69A;

    }
}