.customers {
    margin: 0 auto 10px;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #DEE1E7;
    .sectionTitle {
        font-size: 24px;
        margin:0 0 20px;
    }
.inputGroup {
    width: 100%;
    margin-bottom: 10px;
    label {
        color: #2E322F;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }
    label + div {
        margin: 8px 0;
    }

    input {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        width: 100%;
    }

}
.memberNo {
    position: relative;
    .iconSearch {
        position: absolute;
        top: 50%;
        right:0;
        transform: translate( -50%, 0);
    }
}

 .btnArea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
    height: 36px;
    .btnAddrSearch {
        width: 100px;
    }
    .btnBack {
        margin-left: 10px;
    }
}

}