
.inputGroupTitle {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    .inputGroup {
        margin-bottom: 20px;
        width: 94%;
        label {
            font-size:14px;
            margin-bottom:5px;
        }
        input {
            width: 100%;
            height: 36px;
            padding: 0 14px;
            font-size: 14px;
        }
    }
    .inputGroupCheckbox {
        width: calc(6% - 10px);
        margin-left: 10px;
        margin-bottom: 20px;
        label {
            font-size:14px;
            margin-bottom:5px;
        }
        input {
            width: 100%;
            height: 36px;
            padding: 0 14px;
            font-size: 14px;
        }
    
    }

}
.inputGroupType {
    .inputGroupRadio {
        display: flex;
        align-items: center;
        .inputGroup {
            margin-right: 25px;
            margin-bottom: 20px;
            label {
                font-size:14px;
                margin-bottom:5px;
            }
            input {
                margin-right: 5px;
            }
        }
    }
}
.inputGroup {
    textarea {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        padding: 0 14px;
        font-size: 14px;
    }
}
.btnArea {
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
}