.template {
  max-width: 1280px;
  margin: 0 auto;
}
.template.edit .inputGroup, .template.register .inputGroup {
  width: 100%;
  margin-bottom: 10px;
}
.template.edit .inputGroup label, .template.register .inputGroup label {
  color: #2E322F;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.template.edit .inputGroup input, .template.register .inputGroup input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
}
.template.edit .inputGroup .password, .template.edit .inputGroup .newPassword, .template.edit .inputGroup .address, .template.edit .inputGroup .addressDetail, .template.edit .inputGroup .memberNo, .template.edit .inputGroup .memberName, .template.edit .inputGroup .zipcode, .template.register .inputGroup .password, .template.register .inputGroup .newPassword, .template.register .inputGroup .address, .template.register .inputGroup .addressDetail, .template.register .inputGroup .memberNo, .template.register .inputGroup .memberName, .template.register .inputGroup .zipcode {
  width: 100%;
  margin-right: 15px;
}
.template.edit .inputGroup .zipcode, .template.register .inputGroup .zipcode {
  width: 200px;
}
.template.edit .inputGroup .btnArea, .template.register .inputGroup .btnArea {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 8px auto;
  height: 36px;
}
.template.edit .inputGroup .btnArea.btnPasswordCheck, .template.register .inputGroup .btnArea.btnPasswordCheck {
  width: 100px;
}
.template.edit .inputGroup .btnArea.btnAddrSearch, .template.register .inputGroup .btnArea.btnAddrSearch {
  width: 100px;
}
.template.edit .inputGroup .btnArea.btnMemberSearch, .template.register .inputGroup .btnArea.btnMemberSearch {
  width: 100px;
}
.template.view .inputGroup {
  width: 100%;
  margin-bottom: 10px;
}
.template.view .inputGroup label {
  color: #2E322F;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.template.view .inputGroup input {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
}
.template.view .inputGroup input[readonly] {
  background-color: hsl(0, 0%, 95%);
}
.template.view .inputGroup .password, .template.view .inputGroup .newPassword, .template.view .inputGroup .address, .template.view .inputGroup .memberNo, .template.view .inputGroup .zipcode {
  width: 100%;
  margin-right: 15px;
}
.template.view .inputGroup .memberName, .template.view .inputGroup .addressDetail {
  width: 100%;
}
.template.view .inputGroup .zipcode {
  width: 200px;
}

.btnArea {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.btnArea .btnBack {
  margin-left: 15px;
  width: 100px;
}

.modal {
  width: 600px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
}
.modal.open {
  display: block !important;
}
.modal .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 999;
}
.modal .innerModal {
  position: relative;
  padding: 50px;
}
.modal .innerModal .inputGroup {
  margin: 15px auto 10px;
}
.modal .innerModal .inputGroup input {
  border: 1px solid #ccc;
  width: calc(100% - 115px);
  padding: 5px 10px;
}
.modal .innerModal .inputGroup button {
  width: 100px;
  margin-left: 15px;
  border: 1px solid #ccc;
  height: 36px;
  z-index: 999;
  cursor: pointer;
}
.modal .innerModal .resultArea > div {
  margin: 10px 0 5px;
}
.modal.passwordModal .inputGroup {
  margin: 15px auto 10px;
}
.modal.passwordModal .inputGroup label {
  margin-bottom: 10px;
}
.modal.passwordModal .inputGroup input {
  border: 1px solid #ccc;
  width: 100%;
}
.modal.passwordModal .inputGroup button {
  width: 100px;
  margin-left: 15px;
  border: 1px solid #ccc;
  height: 36px;
  z-index: 999;
  cursor: pointer;
}
.modal.passwordModal .btnArea {
  width: 100px;
  margin: 30px auto 0;
}/*# sourceMappingURL=RegistrationForm.module.css.map */