.template {
    max-width: 1280px;
    margin:0 auto;
    &.edit, &.register {
    .inputGroup {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        label {
            color: #2E322F;
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
        }

        input {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px 10px;
            margin: 8px 0;
            box-sizing: border-box;
            width: 100%;
        }
        .password, .newPassword, .address, .addressDetail, .memberNo, .memberName, .zipcode  {
            width: 100%;
            margin-right: 15px;
            margin-bottom: 20px;
            position: relative;
        }
        .zipcode {
            width: 300px;
        }
        .btnArea {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 8px auto 28px;
            height: 36px;
            &.btnPasswordCheck {
                width: 100px;
               
            }
            &.btnAddrSearch {
                width: 100px;
            }
            &.btnMemberSearch {
                width: 100px;
            }
        }
    }
    }
    &.view {
    .inputGroup {
        width: 100%;
        margin-bottom: 10px;
        label {
            color: #2E322F;
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
        }

        input {
            border: 1px solid hsl(0, 0%, 90%);
            border-radius: 4px;
            padding: 5px 10px;
            margin: 8px 0;
            box-sizing: border-box;
            width: 100%;
            &[readonly] {
                background-color:hsl(0, 0%, 95%);
            }
        }
        .password, .newPassword, .address,  .memberNo, .zipcode  {
            width: 100%;
            margin-right: 15px;
        }
        .memberName, .addressDetail {
            width: 100%;
        }
        .zipcode {
            width: 200px;
        }
    }
    }
}
.btnArea {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    .btnBack {
        margin-left: 15px;
        width: 100px;
    }
}


.modal {
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    &.open {
        display: block !important;
    }
    &.address {
       .resultArea {
           height: 230px;
           overflow-y: scroll;
        
       }
    }
    .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
        z-index: 999;
    }
    .innerModal {
        position: relative;
        padding: 50px;
        .inputGroup {
            margin: 15px auto 10px;
            input {
                border: 1px solid #ccc;
                width: calc(100% - 115px);
                padding: 5px 10px;
            }
            button {
                width: 100px;
                margin-left: 15px;
                border: 1px solid #ccc;
                height: 36px;
                z-index:999;
                cursor: pointer;
            }
        }
        .resultArea {
             margin: 30px auto;
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;

            thead {
                background-color: #F5F6F7;
                border : 1px solid #DEE1E7;
                th {
                    padding: 10px 15px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    color: #2E322F;
                    text-align: center;
                    width: 50%;
                }
            }
            tbody {
                tr {
                    border : 1px solid #DEE1E7;
                    &:hover {
                        background-color: #F5F6F7;
                    }
                    td {
                        padding: 10px 15px;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        color: #2E322F;
                        text-align: center;
                    }
                }
            }
        }
        }
    }
    &.passwordModal {
        .inputGroup {
            margin: 15px auto 10px;
            label {
                margin-bottom: 10px;
            }
            input {
                border: 1px solid #ccc;
                width: 100%;
            }
            button {
                width: 100px;
                margin-left: 15px;
                border: 1px solid #ccc;
                height: 36px;
                z-index:999;
                cursor: pointer;
            }
        }
        .btnArea {
            width: 100px;
            margin: 30px auto 0;
        }
    }
}
.address {
     table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;

            thead {
                background-color: #F5F6F7;
                border : 1px solid #DEE1E7;
                th {
                    padding: 10px 15px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    color: #2E322F;
                    text-align: center;
                    &:nth-child(1) {
                        width: 30% !important;
                    }
                    &:nth-child(2) {
                        width: 70% !important;
                    }
            }
            tbody {
                tr {
                    border : 1px solid #DEE1E7;
                    &:hover {
                        background-color: #F5F6F7;
                    }
                    td {
                        padding: 10px 15px;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        color: #2E322F;
                        text-align: center;
                    }
                }
            }
        }
        }
}
.errorMsg {
    position: absolute;
    left:0;
    bottom: -15px;
    color: red;
    font-size: 11px;
    text-align: left;
}