.inputGroup {
  margin-bottom: 30px;
  position: relative;
  label {
    display: block;
    margin-bottom: 10px;
  }
  label + input {
    &[type='text'],
    &[type='email'] {
      width: 100%;
      padding: 10px;
      border: 1px solid #dee1e7;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
  label + textarea {
    width: 100%;
    padding: 10px;
    height: auto;
    min-height: 100px;
    border: 1px solid #dee1e7;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  label {
    margin-right: 30px;
    input {
      margin-right: 10px;
    }
  }
  input + svg {
    position: absolute;
    right: 10px;
    top: 50%;
  }
}

.radioBtn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  input {
    margin-right: 5px;
  }
}

.inputGroupGrid {
  .inputGroupCol2 {
    display: flex;
    justify-content: space-between;
    & > label {
      width: 100%;
    }
    & > div {
      width: 48%;
    }
    .inputGroup {
      margin-bottom: 20px;
    }
  }
}

.btnArea {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
