.container {
    background-color: #fff;
    padding: 50px;
.inputGroup {
    margin-bottom: 30px;
    position: relative;
    label {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        display: block;
    }
    .inputRadio {
        display: flex;
        label {
            margin-right: 15px;
            input[type='radio'] {
                margin-right: 10px;
            }
        }
    }
    input[type='text'], textarea {
        width: 100%;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #DEE1E7;
        padding: 20px;
    }
    svg {
        position: absolute;
        right:20px;
        top: 50%;
    }
}

.btnArea {
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    .btn {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        &.submitBtn {
        }   
        &.backBtn {
        }
    }
}
}