.history {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: #fff;
    .closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 50px;
    }
}
.table {
    background-color: #fff;
    &.withSearchbar {
        & > div {
            padding: 20px 50px 10px;
        }
        & > div {
            &:nth-child(2) {
                padding: 0 50px 0 50px;
            }
        }
    }
}
