.container {
    color: #313131;
    background: #F5F8FB;
    border-top: 2px solid #DEE1E7;
    height: 84px;
    margin: 50px 0 25px;

    a {
        width: 80px;
        color: #313131;
        position: relative;
        font-size: 12px;
        padding: 26px 0;

        &:after {
            content: "|";
            position: absolute;
            right: 0;
        }

        &:last-child {
            &:after {
                content: "";
            }
        }
    }

    .copyright {
        padding: 20px 0;
        font-size: 12px;

        .goodus_logo {
            display: flex;
            justify-content: flex-end;
        }

        p {
            padding-top: 10px;
        }
    }
}