.bodyContainer {
    tr {
        margin: 15px 0 10px;
        height: 50px;
        line-height: 25px;
    }
}
.productGd {
    tr {
        td {
            text-align: center;
            border: 1px solid #DEE1E7;
        }
    }
}