.board_list {
    color: #313131;
    table {
        tr {
            th {
                font-size: 14px;
                font-weight: 700;
                padding: 10px 0;
                border: 1px solid #DEE1E7;
                background: #F7F8FE;
            }
            td {
                padding: 10px 30px;
                border: 1px solid #DEE1E7;
                background: linear-gradient(0deg, #FBFCFF 0%, #FBFCFF 100%), #313131;
                font-size: 14px;
            }
        }
    }
    &.announce {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 80px;
                    }
                    &:nth-child(2) {
                        width:790px;
                    }
                    &:nth-child(3) {
                        width: 195px;
                    }
                }
            }
        }
    }
    &.support {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 80px;
                    }
                    &:nth-child(2) {
                        width:400px;
                    }
                    &:nth-child(3) {
                        width: 210px;
                    }
                    &:nth-child(4) {
                        width: 98px;
                    }
                    &:nth-child(5) {
                        width: 195px;
                    }
                }
            }
        }
    }
    &.top10 {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 60px;
                    }
                    &:nth-child(2) {
                        width:140px;
                    }
                    &:nth-child(3) {
                        width: 140px;
                    }
                    &:nth-child(4) {
                        width: 98px;
                    }
                    &:nth-child(5) {
                        width: 230px;
                    }
                }
            }
        }
    }
    &.per_month {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 60px;
                    }
                    &:nth-child(2) {
                        width:504px;
                    }
                }
            }
        }
    }
}