.container {
    padding: 50px;
    background-color: #fff;
    border: 1px solid #DEE1E7;
.btnArea {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    align-items: center;
    .btn {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #F0F3F2;
        border: none;
        cursor: pointer;
        &.pdfBtn {
            background: #43B69A;
            margin-right: 10px;
        }
        &.backBtn {
            background: #E96C50;
        }
    }
}
.pdf {
    padding: 50px;
    .hGroup {
        h1 {
            opacity: 1;
        }
    }
}
.hGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    h1 {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        opacity: 0;
    }
    .date {
        label {
            margin-right: 10px;
        }
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 500;
        text-align: right;
    }
}
}