.tableContainer {
    width: 100% !important;
    table {
        width: 100%;
    }
}
.support {
    thead {
        tr {
            th {
                &:first-child {
                    width: 5%;
                }

                &:nth-child(2) {
                    width: 5%;
                }

                &:nth-child(3) {
                    width: 10%;
                }

                &:nth-child(4) {
                    width: 10%;
                }

                &:nth-child(5) {
                    width: 10%;
                }

                &:nth-child(6) {
                    width: 10%;
                }

                &:nth-child(7) {
                    width: 10%;
                }

                &:nth-child(8) {
                    width: 10%;
                }

                &:nth-child(9) {
                    width: 10%;
                }

                &:nth-child(10) {
                    width: 10%;
                }

                &:nth-child(11) {
                    width: 10%;
                }


            }
        }
    }
}

.usage {
    .table {
        thead {
            th {
                font-weight: 600;
                text-align: center;
                padding: 10px 0;

                &:first-child {
                    width: 5%;
                }

                &:nth-child(2) {
                    width: 10%;
                }

                &:nth-child(3) {
                    width: 10%;
                }

                &:nth-child(4) {
                    width: 10%;
                }

                &:nth-child(5) {
                    width: 5%;
                }

                &:nth-child(6) {
                    width: 10%;
                }

                &:nth-child(7) {
                    width: 10%;
                }

                &:nth-child(8) {
                    width: 10%;
                }

                &:nth-child(9) {
                    width: 10%;
                }

                &:nth-child(10) {
                    width: 10%;
                }

                &:nth-child(11) {
                    width: 10%;
                }
            }
        }

        tbody {
            td {
                text-align: center;
                padding: 0 10px;
            }
        }
    }
}

        thead {
            &.invoiceUsage {
                tr{
                    &:nth-child(1) {
                        th {
                            font-weight: 600;
                            text-align: center;
                            padding: 10px 0;
            
                            &:nth-child(1) {
                                width: 4%;
                            }
            
                            &:nth-child(2) {
                                width: 10%;
                            }
            
                            &:nth-child(3) {
                                width: 10%;
                            }
            
                            &:nth-child(4) {
                                width: 20%;
                            }
            
                            &:nth-child(5) {
                                width: 5%;
                            }
            
                            &:nth-child(6) {
                                width: 10%;
                            }
            
                            &:nth-child(7) {
                                width: 32%;
                            }
            
                            &:nth-child(8) {
                                width: 10%;
                            }
            
                            &:nth-child(9) {
                                width: 10%;
                            }
            
                            &:nth-child(10) {
                                width: 10%;
                            }
                        }
                    
                    }
                    &:nth-child(2) {
                        th {
                            font-weight: 500;
                            text-align: center;
                            padding: 10px 0;
                            font-size:14px;
                    
                            &:first-child {
                                width: 8%;
                            }
            
                            &:nth-child(2) {
                                width: 8%;
                            }
            
                            &:nth-child(3) {
                                width: 8%;
                            }
            
                            &:nth-child(4) {
                                width: 8%;
                            }
                        }
                    
                    }
                }
            
        }
    }

.overview {
    tr {
        th {
            font-size: 14px;
            font-weight: 700;
            padding: 10px 0;
            border: 1px solid #DEE1E7;
            background: #F7F8FE;
        }
        td {
            padding: 10px 30px;
            border: 1px solid #DEE1E7;
            background: linear-gradient(0deg, #FBFCFF 0%, #FBFCFF 100%), #313131;
            font-size: 14px;
        }
    }

    &.announce {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 80px;
                    }
                    &:nth-child(2) {
                        width:790px;
                    }
                    &:nth-child(3) {
                        width: 195px;
                    }
                }
            }
        }
    }
    &.support {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 80px;
                    }
                    &:nth-child(2) {
                        width:400px;
                    }
                    &:nth-child(3) {
                        width: 210px;
                    }
                    &:nth-child(4) {
                        width: 98px;
                    }
                    &:nth-child(5) {
                        width: 195px;
                    }
                }
            }
        }
    }
    &.top10 {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 60px;
                    }
                    &:nth-child(2) {
                        width:140px;
                    }
                    &:nth-child(3) {
                        width: 140px;
                    }
                    &:nth-child(4) {
                        width: 98px;
                    }
                    &:nth-child(5) {
                        width: 230px;
                    }
                }
            }
        }
    }
    &.perMonth, &.perWeek {
        table {
            tr {
                th {
                    &:nth-child(1) {
                        width: 60px;
                    }
                    &:nth-child(2) {
                        width:504px;
                    }
                }
            }
        }
    }
}
