.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .modalContent {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: relative;
        .closeModalBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #000;
            font-size: 30px;
            line-height: 1;
            cursor: pointer;
        }
        .modalHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            .modalTitle {
                font-size: 20px;
                font-weight: 700;
            }

        }
        .modalBody {
            margin-bottom: 20px;
        }
        .modalFooter {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .modalBtn {
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: #000;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        &.customer {
            width: 500px;
            height: 500px;
        }
        &.address {
            width: 500px;
            height: 500px;
        }
        &.user {
            width: 500px;
            height: 500px;
        }
        &.prodType {
            width: 500px;
            height: auto;
        }
        &.product {
            width: 500px;
            height: auto;
        }
    }
}