.product {
  .searchInput {
    input {
      width: calc(100% - 110px);
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px 10px;
      margin: 8px 10px 8px 0;
      box-sizing: border-box;
    }
  }
  .productList {
    margin: 30px auto;
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      thead {
        background-color: #f5f6f7;
        border: 1px solid #dee1e7;
        th {
          padding: 10px 15px;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          color: #2e322f;
          text-align: center;
          &:nth-child(1) {
            width: 15%;
          }
          &:nth-child(2) {
            width: 25%;
          }
          &:nth-child(3) {
            width: 30%;
          }
          &:nth-child(4) {
            width: 30%;
          }
        }
      }
      tbody {
        tr {
          border: 1px solid #dee1e7;
          &:hover {
            background-color: #f5f6f7;
          }
          td {
            padding: 10px 15px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            color: #2e322f;
            text-align: center;
          }
        }
      }
    }
  }
}
