.form {
  width: 300px;
  .inputGroup {
    position: relative;
    width: 300px;
    height: calc(32px + 2px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    font-size: 14px;
    label {
      width: 50px;
      text-align: center;
      color: #a1a1a1;
    }
    input {
      position: relative;
      width: 250px;
      padding: 0 10px;
      font-size: 12px;
      line-height: 32px;
      border: 1px solid #ccc;
      border-radius: 2px;
      color:#2E322F;
        &:disabled {
        color: var(--color-gray-c);
        cursor: not-allowed;
        background-color: var(--color-gray-e);
      }

      &:focus {
        border-color: var(--color-gray-a);
      }
    }
  }
  button {
    width: 100%;
  }
}
