@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variable';
@import 'levels';
@import 'animations';
@import 'transitions';

:root {
  --background-rgb: 245, 248, 251;
  --foreground-rgb: #313131;
  // --background-start-rgb: 214, 219, 220;
  // --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0,0,0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
  font-size: 14px;
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1920px;
    width: 100%;
  }
  .mainContent {flex-grow: 1}
}
@media (max-width: 1920px) {
  body {
    .container {
      padding: 0 10px;
      min-width: calc(100% - 220px);
    }
  }
}

a[class*="btn"] {
  text-align: center;
}
.page {
  background-color: rgb(var(--background-rgb));
}

.gray {
  color: var(--color-gray-4);
}

.grayBg {
  color: var(--color-white);
  background-color: var(--color-gray-4);
}

.red {
  color: var(--color-red);
}

.redBg {
  color: var(--color-white);
  background-color: var(--color-red);
}

.orange {
  color: var(--color-orange);
}

.orangeBg {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.yellow {
  color: var(--color-yellow);
}

.yellowBg {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

.green {
  color: var(--color-green);
}

.greenBg {
  color: var(--color-white);
  background-color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

.blueBg {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.purple {
  color: var(--color-purple);
}

.purpleBg {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.indigo {
  color: var(--color-indigo);
}

.indigoBg {
  color: var(--color-white);
  background-color: var(--color-indigo);
}

.teal {
  color: var(--color-teal);
}

.tealBg {
  color: var(--color-white);
  background-color: var(--color-teal);
}

.pink {
  color: var(--color-pink);
}

.pinkBg {
  color: var(--color-white);
  background-color: var(--color-pink);
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");