@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variable';
@import 'levels';
@import 'animations';
@import 'transitions';

:root {
  --background-rgb: 245, 248, 251;
  --foreground-rgb: #313131;
  // --background-start-rgb: 214, 219, 220;
  // --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
  .container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
  .mainContent {
    flex-grow: 1;
  }
}
@media (max-width: 1920px) {
  body {
    .container {
      padding: 0 10px;
      min-width: calc(100% - 220px);
    }
  }
}

a[class*='btn'] {
  text-align: center;
}
.page {
  background-color: rgb(var(--background-rgb));
}

.gray {
  color: var(--color-gray-4);
}

.grayBg {
  color: var(--color-white);
  background-color: var(--color-gray-4);
}

.red {
  color: var(--color-red);
}

.redBg {
  color: var(--color-white);
  background-color: var(--color-red);
}

.orange {
  color: var(--color-orange);
}

.orangeBg {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.yellow {
  color: var(--color-yellow);
}

.yellowBg {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

.green {
  color: var(--color-green);
}

.greenBg {
  color: var(--color-white);
  background-color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

.blueBg {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.purple {
  color: var(--color-purple);
}

.purpleBg {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.indigo {
  color: var(--color-indigo);
}

.indigoBg {
  color: var(--color-white);
  background-color: var(--color-indigo);
}

.teal {
  color: var(--color-teal);
}

.tealBg {
  color: var(--color-white);
  background-color: var(--color-teal);
}

.pink {
  color: var(--color-pink);
}

.pinkBg {
  color: var(--color-white);
  background-color: var(--color-pink);
}

.react-select__control {
  background-color: #fff;
  width: 100px;
  height: 30px;
  padding-right: 15px;
  border: none;
  border-radius: 20px;
  display: flex;
  text-align: center;
  cursor: pointer;
}
.react-select__single-value {
  color: #ffffff; /* 텍스트 색상 지정 */
  font-size: 14px;
}
.react-select__menu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.react-select__option {
  background-color: #fff; /* option 배경색 */
  color: black; /* option 텍스트 색상 */
}

.react-select__option--is-selected {
  background-color: #fff;
  color: white; /* 클릭된 option 텍스트 색상 */
}
.react-select__option--is-focused {
  color: black; /* hover 상태의 option 텍스트 색상 */
}
.react-select__placeholder {
  color: white;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css');
