.container {
    width: 100%;
    padding: 0;
    margin: 30px auto;
    background: #202124;
    .user_name {
        font-size: 16px;
        color: #fff;
    }
    > ul {
        margin: 15px 0 30px;
    }
    &.open {
        margin:0;
        > ul {
            a {
                margin-left:30px;
                > span {
                    margin-left: 30px;
                }
            }
        }
    }
    &.close {
        margin:0;
        > ul {
            a {
                justify-content: center !important;
                margin:0 auto;
                > span {
                    padding: 15px 0;
                }
            }
        }
    }
    .navigationItem {
        width: 100%;
       
        .depth {
            width: 80%;
            margin: 0 auto;
            color: #fff;
            display: flex;
            &_0 {
                justify-content: flex-end;
                align-items: center;
                border-radius: 30px;
                padding: 15px 12px;
                position: relative;
                display: flex;
                &:hover {
                    background-color: #43B69A;
                }
                
                & > svg {
                    width: 20px;
                    height: 20px;
                }

                span {
                    width: 30px;
                    text-align: center;
                    position: relative;
                    svg {
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                    }

                }
                p {
                    text-decoration: none;
                    border-radius: 30px;
                    color: #fff;
                    font-size: 20px;
                    letter-spacing: -.5px;
                    font-weight: 700;
                }
            }

            &_1 {
                font-size: 18px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 15px;
                p {
                    margin-right: 10%;
                }
    
            }
            &_2 {
                font-weight: 500;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 15px;
                p {
                    margin-right: 10%;
                }
            }
        }
    }
}