.container {
    background: #202124;
    position: relative;
    flex-shrink: 0;
    &.open {
        width: 160px;
        a {
            padding: 0;
            justify-content: center;
            p {
                display: block;
            }
        }
        .fullbg {
            position: fixed;
            top: 0;
            left: 0;
            width: 160px;
            height: 100%;
            background: #202124;
            z-index:0;
        }
    }
    &.close {
        width: 90px;
        a {
            padding: 0;
            justify-content: center;
            p {
                display: none;
            }
        }
        .fullbg {
            position: fixed;
            top: 0;
            left: 0;
            width: 90px;
            height: 100%;
            background: #202124;
            z-index:0;
        }
        .userName {opacity:0;}
    }
    .toggle_btn {
        background: #2B3035;
        button {
            height: 40px;
            width: 40px;
        }
    }

}