.userinfo {
    background: #2B3035;
    z-index:10;
    &.open {
        & > div {
            & > div {
                opacity:1;
            }
        }
    }
    &.close {
        & > div {
            & > div {
                opacity:0;
            }
        }

    }
    .container {
        display: block;
        width:80%;
        margin: 0 auto;
        padding: 20px 10px;
        .user_name {
            font-size: 16px;
            color: #fff;
        }
    }
    .linkArea {
        display: flex;
        justify-content: flex-end;
        a, span {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}